
a{
  color: inherit;
}

body{
  font-size: 14px;
  line-height: 24px;
  @extend %rob-300;
  color: #373A39;
}


*{
  outline: transparent;
}

.wrapper{
  overflow: hidden;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  @include mon(700);
  line-height: 75px;
  font-size: 60px;
  letter-spacing: -1.65px;
  color: #242121;
  position: relative;
  padding-bottom: 14px;
  &::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: $accent;
    left: 0;
    bottom: 0;
  }
}

.slick-arrow{
  background-color:transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 58%;
  transform: translateY(-50%);
}

.slick-prev{
  left: 40px;
}
.slick-next{
  right: 40px;
  top: 55%;
}

.slick-dots{
  display: flex;
  align-items: center;
  padding-left: 130px !important;
  li{
    &:not(:last-child){
      margin-right: 13px;
    }
    button{
      font-size: 0;
      border: none;
      background-color: #242121;
      padding: 0;
      width: 6px;
      height: 6px;
      opacity: 0.4;
      border-radius: 50%;
    }
  }
  .slick-active{
    margin-top: -5px;
    button{
      width: 10px;
      height: 10px;
      opacity: 1;
    }
  }
}