$accent: #FCBB08;


%rob-300{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@mixin mon($w){
  font-family: 'Montserrat', sans-serif;
  font-weight: $w;
}


%ral-700{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

%italic{
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 300;
}


@mixin bg($p,$s){
  background-image: url($p);
  background-size: $s;
  background-repeat: no-repeat;
}

%anim-btn{
  position: relative;
  transition: all .3s;
  &::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 1%;
    background-color: #FCBB08;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all .5s;
  }
  &:hover{
    &::before{
      width: 100%;
      opacity: 1;
    }
  }
}

@mixin flex-center(){
  display: flex;
  justify-content: center;
  align-items: center;
}
